<div class="content-container">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
        <a clrVerticalNavLink  routerLinkActive="active">
          <cds-icon clrVerticalNavIcon shape="user"></cds-icon>
        User Admin
        </a>
        <a clrVerticalNavLink  routerLinkActive="active">
          <cds-icon clrVerticalNavIcon shape="bolt"></cds-icon>
          Empoyer
         </a>
        <a clrVerticalNavLink  routerLinkActive="active">
          <cds-icon clrVerticalNavIcon shape="sad-face"></cds-icon>
          Poison
        </a>
        <a clrVerticalNavLink  routerLinkActive="active">
          <cds-icon clrVerticalNavIcon shape="bug"></cds-icon>
          Grass
        </a>
        <a clrVerticalNavLink  routerLinkActive="active">
          <cds-icon clrVerticalNavIcon shape="shield"></cds-icon>
          Fighting
        </a>
        <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">
          <cds-icon clrVerticalNavIcon shape="certificate"></cds-icon>
          Credit
        </a>
      </clr-vertical-nav>
</div>