<div class="clr-row div" *ngIf="test>1 ; else block2">
    <div class="clr-col-12 clr-col-md-6 clr-col-lg-3">
        <span >
            <div class="card cursor-pointer" >
                <div class="card-block">
                    <div class="card-title clr-row clr-justify-content-center">
                        <cds-icon shape="store" size="50"></cds-icon>

                    </div>
                    <br>
                    <div class="clr-row clr-justify-content-center">
                        <h3>Catalogue</h3>
                        <button (click)="show=!show"> {{show? 'hide' :'show'}}</button>
                    </div>
                </div>
            </div>
        </span>
    </div>

</div>
<ng-template #block3>
    <div class="clr-col-12 clr-col-md-6 clr-col-lg-3">
        <span >
            <div class="card cursor-pointer" >
                <div class="card-block">
                    <div class="card-title clr-row clr-justify-content-center">
                        <cds-icon shape="user" size="50"></cds-icon>

                    </div>
                    <br>
                    <div class="clr-row clr-justify-content-center">
                        <h3> hajer</h3>
                    </div>
                </div>
            </div>
        </span>
    </div>
</ng-template>
<ng-template #block2>
    <div class="clr-col-12 clr-col-md-6 clr-col-lg-3">
        <span >
            <div class="card cursor-pointer" >
                <div class="card-block">
                    <div class="card-title clr-row clr-justify-content-center">
                        <cds-icon shape="user" size="50"></cds-icon>

                    </div>
                    <br>
                    <div class="clr-row clr-justify-content-center">
                        <h3>Catalogue</h3>
                    </div>
                </div>
            </div>
        </span>
    </div>
</ng-template>
